body{
    width:80%;
    margin-left:10%;
}
.link{
        margin-top:50px;
    }
       
.title{
    text-align: center;
    width:80%;
    margin-left:10%;
    /* background-color:#084C61; */
    color:#084C61;
    }
#newUser{
       background-color: #FFC857;
    width:10%;
    margin:10px 0 10px 45%;
    border:2px solid #084C61;
    color:#DB3A34;
    font-size:20px;
    text-align: center;
   
      

}
#newUser:hover{
      border:2px solid #DB3A34;
       background-color: #084C61;
       color:#FFC857;

}
    .addUser{
         border-top:2px solid black;
         display:grid;
    }
        .submitItem{
            display:grid;
            margin-left:10%;

        }
        #user{
            width:15%;
            margin-left:37%;
            margin-bottom:10px;
        }
        #item , #quantity {
            width:30%;
            margin-bottom:5px;
            margin-left:30%;
        }
        #submit{
            width:30.5%;
            margin-bottom:5px;
            margin-left:30%;

        }
        .inhere{
            width:80%;
            margin-left:10%;
        }
        #submitUser{
            width:10%;
            margin:0 0 10px 45%;
        }
